
  body{
    font-family: 'Montserrat',"Noto Sans Japanese";
    min-width: 1360px;
  }
  .l-wrap{
    width: 100%;
  }
  // header
  .l-header{
    &__logo{
      text-align: center;
      & .c-logo{
        width: 100px;
      }
    }
    &__nav{
      padding-bottom: 12px;
      & ul{
        display: flex;
        text-align: center;
        justify-content: center;
      }
      & li{
        margin-left: 72px;
        &:first-child{
          margin-left: 0px;
        }
      }
    }

    &__navMenu a{
      flex-direction: column;
      display: flex;
      color: #373737;
      font-weight: 700;
      font-size: 13px;
      &:hover{
        color: #e59560;
      }
      & span{
        font-weight: 100;
        font-size: 12px;
        color: #cdcdcd;
        margin-top: 10px;
      }
      &.active{
        color: #e59560;
      }
    }
    & .c-border{
      width: 60%;
      margin: 0 auto;
      border-bottom: 1px solid #000;
    }
    &__img{
      text-align: center;
      & img{
        width: 90%;
        height: 70vh;
        -o-object-fit: cover;
        object-fit: cover;
        margin-top: 2vh;
      }
    }
  }

  // タブ切替
  .c-product{
    padding: 40px 80px;
    background: #f6f4e8;
    font-size: 10pt;
    line-height: 15pt;
    display: flex;
  // .c-product__tabWrap{
  //   width: 60%;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  //   margin: 0 auto;
  // }

  // .c-product__panelWrap{
  //   height:100px;
  //   // border:solid 0.5px #888;
  //   border-top:none;
  //   background:#fff;
  // }

  // .c-product__tab.is-active{
  //   background:#f8f5ee;
  //   color:#888;
  //   transition: all 0.2s ease-out;
  // }
    &__tab{
      display: block;
      overflow: hidden;
      width: 20%;
      border-radius: 10px 0 0 10px;
      background: #bacec1;
    }

    &__tab li{
      border-bottom: 1.5px dotted #1d3124;
      margin-bottom: 1px;
      text-align: left;
      padding: 0px;
      &:last-child{
        margin-bottom: 0px;
        border-bottom: 0px;
      }
      & p{
        display: block;
        font-size: 12pt;
        color: #f6f4e8;
        text-decoration: none;
        padding: 4% 6%;
      }
      &.active{
        background: #fff;
        & p{
          color: #1d3124;
        }
      }
    }

    &__tabSub{
      width: 100%;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      & li{
        width: 120px;
        padding:0.5vw;
        border:solid 1.5px #1d3124;
        cursor:pointer;
        border-radius: 20px;
        margin: 8px;
        font-size: 12px;
        white-space: nowrap;
        text-align:center;
        &:hover{
          background: #bacec1;
        }
        &.active{
          background-color:#1d3124;
          transition: all 0.2s ease-out;
          color: #fff;
        }
      }
    }

    &__panel{
      display: block;
      width: 80%;
      background: #fff;
      min-height: 500px;
      padding: 10px 3% 3% 3%;
      border-radius: 0 10px 10px 0;
      color: #373737;
    }
  }
  .c-product__panelInner,
  .c-product__panelInner .c-product__panelItem{
      display:none;
      margin: 0px;
      color: #373737;
  }
  .c-product__panelInner.active{
      display:block;
  }
  .c-product__panelInner .c-product__panelItem.active{
      display:block;
  }
