
  body{
    font-family: 'Montserrat',"Noto Sans Japanese";
    min-width: 1360px;
  }
  .l-wrap{
    width: 100%;
  }
  // header
  .l-header{
    &__logo{
      text-align: center;
      & .c-logo{
        width: 100px;
      }
    }
    &__nav{
      padding-bottom: 12px;
      & ul{
        display: flex;
        text-align: center;
        justify-content: center;
      }
      & li{
        margin-left: 72px;
        &:first-child{
          margin-left: 0px;
        }
      }
    }

    &__navMenu a{
      display:block;
      flex-direction: column;
      display: flex;
      color: #1d3124;
      font-weight: 700;
      font-size: 13px;
      & span{
        font-weight: 100;
        font-size: 12px;
        color: #1d3124;
        margin-top: 10px;
        opacity: 0.8;
        & .active{
          color: #e59560;
        }
      }
    }
    & .active{
      color: #e59560;
    }
    & .c-hover:hover{
      color: #e59560;
    }
    & .c-border{
      width: 60%;
      margin: 0 auto;
      border-bottom: 1px solid #000;
    }
    &__img{
      text-align: center;
      & img{
        width: 90%;
        height: 70vh;
        -o-object-fit: cover;
        object-fit: cover;
        margin-top: 2vh;
      }
    }
  }

  // タブ切替
  .c-product{
    width: 100%;
    padding: 40px 80px;
    background: #fff;
    font-size: 10pt;
    line-height: 15pt;
    display: flex;
    &__tab{
      display: block;
      overflow: hidden;
      width: 20%;
      border-radius: 10px 0 0 10px;
      background: #bacec1;
    }
    &__tab li{
      position: relative;
      border-bottom: 1.5px dotted #1d3124;
      margin-bottom: 1px;
      text-align: left;
      padding: 0px;
      &:last-child{
        margin-bottom: 0px;
        border-bottom: 0px;
      }
      & p{
        display: block;
        font-size: 12pt;
        color: #f6f4e8;
        text-decoration: none;
        padding: 4% 6%;
        &:hover {
          letter-spacing: 0.15em;
          font-weight :bold;
          transition: 0.5s ;
        }
      }
      &::after{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 4%;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
        color: #f6f4e8;
      }
      &.active{
        background: #f6f4e8;
        & p{
          color: #1d3124;
        }
        &::after{
          color: #1d3124;
        }
      }
    }

    &__tabSub{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & li{
        width: 120px;
        padding:0.5vw;
        border:solid 1.5px #1d3124;
        cursor:pointer;
        border-radius: 20px;
        margin: 8px;
        font-size: 12px;
        white-space: nowrap;
        text-align:center;
        &:hover{
          background: #bacec1;
        }
        &.active{
          background-color:#1d3124;
          transition: all 0.2s ease-out;
          color: #fff;
        }
      }
    }

    &__panel{
      display: block;
      width: 80%;
      background: #f6f4e8;
      min-height: 500px;
      padding: 50px 3% 3% 3%;
      border-radius: 0 10px 10px 0;
      color: #373737;
      margin: 0 auto;
    }

    &__panelInner{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 80px;
      justify-content: space-between;
    }

    &__panelInner.active{
      display:block;
  }

    &__item{
      width: 23.5%;
      margin: 0;
    }

    &__img{
      position: relative;
      padding: 5px;
      width: 100%;
      background-color: #fff;
      & img{
        display: block;
        width: 100%;
        text-align: center;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 26vh;
        object-fit: cover;
      }
    }
    &____description{
      padding: 0 10px;
      margin: 0;
    }
    &__descriptionText{
        background-color: #fff;
    }
  .c-product__panelInner,
  .c-product__panelInner .c-product__panelItem{
      display:none;
      margin: 0px;
      color: #373737;
  }

  .c-product__panelInner .c-product__panelItem.active{
    display:block;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: space-between;
  }
}
